@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Urbanist", sans-serif;
}

body {
  overflow: hidden;
}

.profile-logo-container {
  /* height: 3.13rem; */
  /* width: 3.13rem; */
  /* position: relative; */
  cursor: pointer;
}

.support-container {
  display: flex;
  position: relative;
  top: 0;
  align-items: center;
  flex-direction: column;
}

.leftSide {
  width: 50%;
  background-color: white;
  font-weight: 600;
  font-size: 6rem;
  line-height: 0.2;
  overflow-y: hidden;
}

.profilelogo {
  height: 3.13rem;
  width: 3.13rem;
}

.heartlogo {
  height: 2.5rem;
  width: 2.5rem;
}

.support {
  display: inline-block;
  color: white;
  font-size: 1.5rem;
  font-family: "Urbanist", sans-serif;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.profileicon {
  height: 8rem;
  width: 8rem;
  transform: translateX(60%);
}

.UserName {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 600;
}

.Password {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 600;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-popup {
  background-color: white;
  border-radius: 0.63rem;
  padding: 20px;
  width: max-content;
  z-index: 9999;
}

.testingdiv {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}

.testingdiv-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.signin-popup h1 {
  text-align: center;
  margin-bottom: 10px;
}

.forgotpass {
  display: inline-block;
  margin-left: 9rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-family: "Urbanist", sans-serif;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.close {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #696969;
  color: white;
  font-size: 1rem;
  font-family: "Urbanist", sans-serif;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.close-button{
  cursor: pointer;
}

.topBARright {
  display: flex;
  padding: 0 1rem 0 1rem;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  transform: translateY(30%);
}

.topBARright > div {
  width: fit-content;
}

.logo {
  padding: 1rem 0 0 1rem;
  width: 10vw;
}

.aboutcompany {
  color: white;
  padding-right: 3.75rem;
  padding-left: 3.35rem;
  font-size: 1.5rem;
  font-weight: 400;
  height: calc(100vh - 4rem);
  overflow-y: scroll;
}

.aboutcompany::-webkit-scrollbar {
  display: none;
}

.aboutcompany {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.welcomeTEXT {
  margin-left: 1.69rem;
}

.rightSide {
  width: 50%;
  height: 100vh;
  background-color: #2c2c2c;
  overflow: hidden;
}

.App {
  /* display: flex; */
  /* justify-content: space-between; */
  height: 100vh;
  width: 100vw;
}

.search-bar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 7vh;
  background: linear-gradient(to right, white 50%, #2c2c2c 50%);

  /* position: absolute; */
  /* top: 0; */
}

.content-wrapper {
  display: flex;
  justify-content: space-between2;
}

.search-bar {
  min-width: 10vw;
  width: 40vw;
  max-width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(30%);
}

.search-icon {
  color: #5e5d5d;
  pointer-events: none;
}
.search-container {
  padding: 1rem;
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s;
  background-color: #d0cece;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.details {
  padding: 15px 1rem 0.8rem 3rem;
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
  border: 0px;
  outline: none;
  transition: border-color 0.3s;
  background-color: #d0cece;
}

.searchbarinput {
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
}



.dropdown {
  background-color: #d9d9d9;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  z-index: 1000;
  border-radius: 0.63rem;
  position: absolute;
  width: max-content;
}

.profile-drop-down {
  top: 4.5rem;
  right: 1rem;
  transform: translateY(-5%);
}
.support-drop-down {
  top: 3.1rem;
  right: 0rem;
}
.dropdownsupport {
  background-color: #d9d9d9;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  z-index: 1000;
  border-radius: 0.63rem;
  width: 11.56rem;
  height: 12.19rem;
}

.dropdown-item {
  padding: 10px 4.1rem;
  color: black;
  cursor: pointer;
  font-size: 1.3rem;
  position: relative;
  border-bottom: 1px solid black;

}
.dropdown-item:nth-last-of-type(1) {
  border: none;
  font-size: 1.3rem;
}
.buttons {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-family: "Urbanist", sans-serif;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  transform: translateY(-25%);
}
